<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">    
        <h2 class="footer-heading"><b>{{ site.title | escape }}</b></h2>
      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
           <li><a href="/etc/imprint.html">Impressum</a></li>
        </ul>
      </div>
      </div>
    </div>

  </div>

</footer>
